
<@layout.extends name="layout/layout.htm">
<@layout.put block="contents">



<div class="main">
    <div class="container">
        <div class="row margin-bottom-40">
            <div class="sidebar col-md-3 col-sm-3">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    <li class="list-group-item clearfix"><a href="${furl('/admin-dashboard')}"><i class="fa fa-angle-right"></i> Dashboard</a></li>
                    <li class="list-group-item clearfix"><a href="${furl('/manageUser')}"><i class="fa fa-angle-right"></i>Manage Customer</a></li>
                    <li class="list-group-item clearfix"><a href="${furl('/addCompany')}"><i class="fa fa-angle-right"></i> Add Company</a></li>
                    <li class="list-group-item clearfix"><a href="${furl('/account-set')}"><i class="fa fa-angle-right"></i> Account Setup</a></li>
                    <li class="list-group-item clearfix"><a href="${furl('/logout')}"><i class="fa fa-angle-right"></i> Logout</a></li>
                </ul>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-9">

                <div class="page-content-wrapper">
                    <div class="page-content">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>UserID</th>
                                    <th>UserName</th>
                                    <th>Password</th>
                                    <th>RealName</th>
                                    <th>Email</th>



                                </tr>
                            </thead>
                            <tbody>
                                <#list allUsers as user>
                                <tr>
                                    <td>${user.userId}</td>
                                    <td>${user.username}</td>
                                    <td>${user.password}</td>
                                    <td>${user.name}</td>
                                    <td>${(user.email)!}</td>
                                    <td>${user.role.roleName}</td>
                                    <td>
                                        <form action="${furl('/manageUser')}"  method="POST">
                                            <input type="hidden" name="deleteUser" value="${user.userId}">
                                            <button type="submit">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                </#list>
                            </tbody>
                        </table>

                        <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
    </div>
</div>

</@layout.put>




</@layout.extends>